/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
#usericon{
    font-size: 20px;
}
#topmodal{
    margin-top: 60px;
}
.deznav .metismenu > li > a i{
    padding-right: 10px;
}
#modalMenu .text-center{
    background-color: white;
    padding: 10px;
    border-radius: 10%;
    /* border: 1px solid black; */
}
#modalMenu a i{
    margin-bottom: 15%;
    font-size: 25px;
}
#offcanvasRight{
    margin-top: 6%;
}
.carousel-caption{
    /* background-image: linear-gradient(rgb(54, 11, 11), rgb(7, 7, 2)); */
    background-color: black;
    opacity: 0.6;
    color: white;
    text-align: justify;
    padding: 10px;
}
.hrm
{
    color: white;
}

.active-link {
    background-color: #575a55;
    /* font-weight: bold; */
}

/* side nav custom csss */

.leftside-menu{
    background-image: url("../../public/assets/images/sidebar/sbg4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#sidemenu{
    /* background-image: url("../../public/assets/images/sidebar/sbg4.jpg"); */
    /* padding-top: 5px; */
    /* background-position: center;
    background-size: cover; */
    /* background-attachment: fixed; */
    /* background-blend-mode: lighten; */
}
.content-page{
    /* background-image: url("../../public/assets/images/login/hr (3).jpg"); */
    /* background-image: url("../../public/assets/images/auth-bg-dark.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* color: white; */
}
.footer{
    /* color: white; */
}
.navbar-custom{
    /* background-image: url("../../public/assets/images/auth-bg.jpg"); */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}



